#player {
    display: block;
    position: relative;
    width: 100%;
    background-image: linear-gradient(120deg, #ff0000, #ff6600);
    margin: 20px 0;
}

#player::before {
    content: "";
    padding-top: 56.25%;
    display: block;
}

#player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player-controls-buttons {
    margin: 8px;
    text-align: center;
}

.player-controls-buttons > div {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 10px;
}

.player-controls-buttons .glyphicon {
    vertical-align: middle;
}

.player-controls-buttons .player-toggle {
    font-size: 3rem !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    box-shadow: 0px 0 10px #d1d1d1;
    vertical-align: middle;
}

.player-toggle>.glyphicon:before {
    content:'\e073';
}

.player-toggle.player-is-paused>.glyphicon:before {
    content:'\e072';
}

.player-controls-seekbar {
    width: 100%;
    padding: 0;
}

.player-timeline {
    padding: 0;
    text-align: center;
}

.loading-blind {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}



.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    padding: 0;
    margin-bottom: 20px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}


.queue li {
    cursor: pointer;
}

.queue .now-playing {
    background-image: linear-gradient(160deg, #ff3e3e, #fbcf51)
}

.queue .add-to-queue {
    display: none;
}

.queue .remove-from-queue {
    display: inline-block;
}

.queue-toggle-loop.queue-loop {
    color: #ff3f00;
}
